@font-face {
  font-family: "Barbecue"; 
  src: url(BARBECUE.TTF); 
}
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');
.navbar {
    position: fixed;

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 3753px;
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    background: #373737;
    box-shadow: 1px 0 46.1px 41px #000 inset;
    width: 100%;
    height: 163px;
    justify-content: space-between;

}
.navbar>div{
    margin: 0px
}
.herobanner{
    display: flex;
    width: 1093px;
    height: 59px;
    margin: 0px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #7D7D7D;
    background: linear-gradient(180deg, #000 4.77%, #F00 52.6%, #000 95.22%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 1px 0 5.6px 7px rgba(0, 0, 0, 0.58) inset;     
}
.herobanner-content{ 
    padding-left: 30px;
}
.logo {
    font-family: "Barbecue";
}
.big-logo{

    width: 389px;
    height: 57px;
    color: #FFF;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #000;
    font-family: "Barbecue";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
}
.small-logo{
    width: 73px;
    height: 18px;
    color: #FFF;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #000;
    font-family: Barbecue;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.search-bar{
    left: 491px;
    right: 393px;
    top: 24px;
    bottom: 3846px;
    width: 556px;
    border-radius: 2px;
    border: 1px solid rgba(120, 120, 120, 0.87);
    background: #FFF;
    box-shadow: 1px 0 5.8px 6px rgba(0, 0, 0, 0.68) inset;
    font-family: "Jacquard 24", system-ui;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
    text-align: center;
}
.small-button-cont{
    display: grid;
    grid-template-columns: 1fr 1fr auto; 
    gap: 2px;
    width: 20%;
    height: 5%;
    
}
.small-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 2px;
    padding:1px;
}
.small-button>a{
    background-color: navy;
}
